<h1>Hi!</h1>

  Thank you for joining AwesomeBlog!
  You can start <%= link_to "writing your own posts", user_posts_url(@user) %> 
  or 
  <%= link_to "comment others", users_url %>
  
AwesomeBlog.