<h1>Hi!</h1>

  Thank you for joining AwesomeBlog!
  You can now <a href="http://ec2-107-20-197-0.compute-1.amazonaws.com/log_in">log into system</a> and start posting or creating comments to other's posts.

AwesomeBlog.