<h2>This is the list of users</h2>

<table width=60%>
  <tr>
    <th>Email</th>
    <th>Number of posts</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td align=center><%= link_to user.email, user_posts_path(user.id) %></td>
    <td align=center><%= user.posts.count %></td>
  </tr>
<% end %>
</table> 