/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.cleditor.css
 *= require_tree . 
*/
@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css);

textarea {
  width:80%;
  height:100px;
}

input {
  width:100px;
}

input#remember_me
{
  width:15px;
}
input#is_private
{
  width:15px;
}

div.user {
  width:350px;
  height:40px;
  margin-top:2px;
  text-align:center;
}
p.aligning {
  margin-top:10px;
}
